@charset "utf-8";

// 設定用
@import "scss/setting";

.kv-particle {
  background: url(../img/pexels-pixabay-2150.jpg) no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.kv-particle li {
  // width: 50px;
  // height: 50px;
  opacity: 0;
  &:nth-child(1) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(2) {
    span {
      .triangle {
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom-width: 36px;
      }
    }
  }
  &:nth-child(3) {
    span {
      .triangle {
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        border-bottom-width: 66px;
      }
    }
  }
  &:nth-child(4) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(5) {
    span {
      .triangle {
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom-width: 35px;
      }
    }
  }
  &:nth-child(6) {
    span {
      .triangle {
        border-right: 25px solid transparent;
        border-left: 25px solid transparent;
        border-bottom-width: 51px;
      }
    }
  }
  &:nth-child(7) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(8) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(9) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(10) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(11) {
    span {
      .triangle {
        border-right: 23px solid transparent;
        border-left: 23px solid transparent;
        border-bottom-width: 49px;
      }
    }
  }
  &:nth-child(12) {
    span {
      .triangle {
        border-right: 26px solid transparent;
        border-left: 26px solid transparent;
        border-bottom-width: 52px;
      }
    }
  }
  &:nth-child(13) {
    span {
      .triangle {
        border-right: 18px solid transparent;
        border-left: 18px solid transparent;
        border-bottom-width: 44px;
      }
    }
  }
  &:nth-child(14) {
    span {
      .triangle {
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom-width: 38px;
      }
    }
  }
  &:nth-child(15) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(16) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 46px;
      }
    }
  }
  &:nth-child(17) {
    span {
      .triangle {
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom-width: 23px;
      }
    }
  }
  &:nth-child(18) {
    span {
      .triangle {
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        border-bottom-width: 56px;
      }
    }
  }
  &:nth-child(19) {
    span {
      .triangle {
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom-width: 26px;
      }
    }
  }
  &:nth-child(20) {
    span {
      .triangle {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom-width: 36px;
      }
    }
  }

  .triangle {
    width: 100%;
    -webkit-animation: rotateZ 8s infinite linear;
    animation: rotateZ 8s infinite linear;
  }
  position: absolute;
  -webkit-animation: emerge1 10s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: emerge1 10s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.kv-particle li {
  -webkit-animation: emerge1 10s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: emerge1 10s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  bottom: 0px;
  span {
    -webkit-animation: sway1 4s alternate infinite;
    animation: sway1 4s alternate infinite;
    display: block;
    .triangle {
      -webkit-animation: rotateZ 8s infinite linear;
      animation: rotateZ 8s infinite linear;
    }
  }
}

.kv-particle li .sway2 {
  animation-name: sway2;
}
.kv-particle li .sway3 {
  animation-name: sway3;
}
.kv-particle li .sway4 {
  animation-name: sway4;
}
.kv-particle .emerge2 {
  animation-name: emerge2;
}
.kv-particle .emerge3 {
  animation-name: emerge3;
}

@keyframes emerge1 {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-420px);
    transform: translateY(-420px);
  }
}
@keyframes emerge2 {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-560px);
    transform: translateY(-560px);
  }
}
@keyframes emerge3 {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-700px);
    transform: translateY(-700px);
  }
}
@keyframes sway1 {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(7px) rotateY(360deg);
    transform: translateX(7px) rotateY(360deg);
  }
}

@keyframes sway2 {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  100% {
    -webkit-transform: translateX(14px) rotateY(240deg);
    transform: translateX(14px) rotateY(240deg);
  }
}

@keyframes sway3 {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  100% {
    -webkit-transform: translateX(21px) rotateY(180deg);
    transform: translateX(21px) rotateY(180deg);
  }
}
@keyframes sway4 {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  100% {
    -webkit-transform: translateX(28px) rotateY(240deg);
    transform: translateX(28px) rotateY(240deg);
  }
}

@keyframes rotateZ {
  0% {
    -webkit-transform: none;
    transform: none;

    border-bottom-color: blue;
  }
  50% {
    border-bottom-color: red;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    border-bottom-color: blue;
  }
}
.triangle {
  // border-style: solid;
  animation-duration: 5.25s;
  animation-delay: -10.5s;
  border-bottom-style: solid;
}
